@model Ramsay.ViewModels.Receipt.ReceiptViewModel
@{
    ViewData["Title"] = "Details";
}

    <div class="thumbnail">
        <img src="@Model.Image" alt="...">
        <label>Name: @Model.Name</label>
        <p>Preparation: @Model.Preparation</p>
        <p>Description: @Model.Description</p>
        <p>Ingredients: @Model.Ingredients</p>

        <br />
    </div>

<div class="container-fluid">
    <div class="mx-3 my-2">
        <a class="text" data-toggle="collapse" href="#commentSection" aria-expanded="false" aria-controls="collapseExample">
            <h5 id="commentCount">Comments: <span class="badge">@Model.Comments.Count</span> </h5>
        </a>
    </div>
    @if (Model.userName == null)
    {
        <div id="commentSection" class="collapse  my-3">
            <div class="mx-2 my-2">
                <div id="commentsContainer" class="mx-3">
                    @foreach (var comment in Model.Comments)
                    {
                        <div id="postedComment">
                            <div class="d-flex align-items-stretch col-sm-5 offset-sm-3 ">
                                <span class="badge"> Profile - @comment.User</span>

                                <div class="thumbnail">
                                    <div class="mx-3">
                                        <p> @comment.Text </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="commentSection" class="collapse my-2">
            <div class="mx-2 my-2">
                <div id="commentsContainer" class="  mx-3">
                    @foreach (var comment in Model.Comments)
                    {
                        <div id="postedComment">
                            <div class=" col-sm-12 offset-sm-12 ">
                                <span class="badge"> Profile - @comment.User</span>
                                <div class="thumbnail">
                                    <div class="mx-4">
                                        <p> @comment.Text </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <form id="commentForm" action="/ReceiptMannager/Comment/@Model.Id" method="post">
                        <div class="form-group  mx-4 my-2">
                            <label for="comment" class="control-label form-label"> Write Comment: </label>
                            <textarea name="comment" class="form-control form-input form-input-center"> </textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group mx-4 my-2 ">
                            <button type="submit" class="btn btn-default btn-brand btn-brand-big">&nbsp;Comment&nbsp;</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>  


@section Scripts{

    <script type="text/javascript">
        function escapeHtml(text) {
            'use strict';
            return text.replace(/[\"&<>]/g, function (a) {
                return { '"': '&quot;', '&': '&amp;', '<': '&lt;', '>': '&gt;' }[a];
            });
        }
            $("#commentForm").submit(function (event) {

                var form = $('#commentForm');
                var commentValue = form.find("textarea[name='comment']").val();
                var commentCountString = $('#commentCount').text();
                var receiptId =@Model.Id;
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                $.ajax({
                    url: "/ReceiptMannager/Comment/" +@Model.Id,
                    type: 'POST',
                    contentType: 'application/json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: JSON.stringify({ Text: commentValue, receiptId: receiptId }),
                    success: function (result) {
                        console.log(result)
                        var obj = jQuery.parseJSON(result);
                        const Item = ({ commentText ,userName }) => `
                           <div id="postedComment"> 
                                 <div class="mt-2">
                                     <h5 id="profileName">${userName}</h5>
                                 </div>
                             <div class="mx-5"><p id="commentText">${commentText}</p></div>
                             <div class="border-bottom mx-4"></div>
                         </div>
                       `;
                        $("#commentsContainer").append(Item({
                            userName: obj.userName,
                            commentText: escapeHtml(obj.Text)
                        }))
                    }
                });

                return false;
            });
        
    </script>
    }

