@using Ramsay.ViewModels
@using Ramsay.Services.Ramsay.Services.Ramsay.Receipts;
@model IEnumerable<Ramsay.ViewModels.Receipt.ReceiptEditViewModel>

@{
    ViewData["Title"] = "User";
}
<form asp-action="User">
    <ul>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="@item.Image" alt="...">
                        <label>Name: </label>
                        <h4>@item.Name </h4>
                        <td>
                            <a asp-controller="ReceiptMannager" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                            <a asp-controller="ReceiptMannager" asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Details</a> 
                            <a asp-controller="ReceiptMannager" asp-action="Delete" asp-route-id="@item.Id"class="btn btn-primary">Delete</a>
                        </td>
                    </div>
            </div>
         </div>
        }
    </ul>
</form>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
